<div class="container">
  <h1> Review for: {{movie.name}}</h1>
    <bar-rating [(rate)]="rate" [max]="4" [theme]="'movie'" [showText]="true"
    [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"
    [(ngModel)]="movieRating"  
   ></bar-rating>
    <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="10" [(ngModel)]="message" matInput placeholder="Review"></textarea>
    </mat-form-field>

    <button mat-raised-button (click)="sendMessage()" color="primary">Create Review</button>
  </div>