<div class="container" *ngIf="movie">
  <h1> Review for: {{movie.OriginalTitle}}</h1>
  <h2>Release Date: {{ movie.ReleaseDate | date}}</h2>
  <p>{{ movie.OverView}}</p>
    <bar-rating [(rate)]="rate" [max]="4" [theme]="'movie'" [showText]="true"
    [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"
    [(ngModel)]="movieRating"  
   ></bar-rating>
    <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="10" [(ngModel)]="message" matInput placeholder="Review"></textarea>
    </mat-form-field>

    <button mat-raised-button (click)="sendMessage()" color="primary">Create Review</button>
  </div>