.container{
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6% 94%;
    h3{
        padding-left: 10px;
        grid-column: 1;
        grid-row: 1;
    }
    mat-list{

        height: 100%;
        overflow-y: auto;
        grid-column: 1;
        grid-row: 2;
    }
    .mat-list-item{
        padding-top: 5px;
        border-bottom: 1px solid black;
        cursor: pointer;
    }
    .mat-list-item:hover{
        background: rgba(179, 244, 255, 0.6);
        div{
            font-weight: bold;
        }
    }
   
}