mat-form-field{
    width: 50%;
}
.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 80% 10%;

    .movie-input{
        padding-top: 40px;
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        button{
            margin-left: 10px;
        }
      }
      .movie-results{
        grid-column: 1;
        grid-row: 2;
        mat-list{
            height: 100%;
            overflow-y: auto;
            .mat-list-item{
                background: rgba(248, 254, 255, 0.795);
                cursor: pointer;
                div{
                    font-weight: bold;
                    padding-left: 10px;
                }
            }
            .mat-list-item:hover{
                background: rgba(179, 244, 255, 0.6);
            }
        }
      }
    
    .actions-footer{
      grid-column: 1;
      grid-row: 3;
      text-align: center;
      margin: 15px;
      button{
        font-size: 35px;
        padding: 5px 20px;
      }
    }
  
  }
  