mat-form-field{
    width: 50%;
}
.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% auto 10%;

    .movie-input{
        grid-column: 1;
        grid-row: 1;
        text-align: center;
      }
      .movie-results{
        grid-column: 1;
        grid-row: 2;
      }
    
    .actions-footer{
      grid-column: 1;
      grid-row: 3;
      text-align: center;
      button{
        font-size: 35px;
        padding: 5px 20px;
      }
    }
  
  }
  