/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
@import '../node_modules/ngx-bar-rating/themes/br-movie-theme.css';
@import '../node_modules/ngx-bar-rating/themes/br-stars-theme.css';